<!DOCTYPE html>
<html>
  <head>
    {%load staticfiles%}
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'ninjagold_app/css/main.css' %}">
  </head>
  <body>

    <h2>Hi, Welcome to my game!!!!:::::)))))::)</h2>
    <div>

      <h1>gold:{{request.session.gold}}</h1>
      <h1>{{msg}}</h1>

    </div>
    <div>


    <form action="/process_money" method="post">
      {% csrf_token%}
      <input type="hidden" name="building" value="farm">
      <h3>Farm</h3>
      <p>(earns 10-20 golds)</p>
      <input type="submit" value="Find Gold!">

    </form>
    <form action="/process_money" method="post">
      {% csrf_token%}
      <input type="hidden" name="building" value="cave">
      <h3>Cave</h3>
      <p>(earns 5-10 golds)</p>
      <input type="submit" value="Find Gold!">

    </form>
    <form action="/process_money" method="post">
      {% csrf_token%}
      <input type="hidden" name="building" value="house">
      <h3>House</h3>
      <p>(earns 2-5 golds)</p>
      <input type="submit" value="Find Gold!">

    </form>

    <form action="/process_money" method="post">
      {% csrf_token%}
      <input type="hidden" name="building" value="casino">
      <h3>Casino</h3>
      <p>(earns/takes 0-50 golds)</p>
      <input type="submit" value="Find Gold!">

    </form>

  </div>
  <form action="/del" method="post">
    {% csrf_token%}


    <input type="submit" value="Clear Gold!">

  </form>
  </body>

  <h5>Activities:</h5>

{%for index in request.session.activities%}
<p id = "{{request.session.color}}">{{index.string}} </p>
<br>
{%endfor%}
</html>
