<!DOCTYPE html>
<html>
  <head>
    {%load staticfiles%}
    <link rel="stylesheet" href="{% static 'disappninja_app/css/main.css' %}"media="screen" title="no title"  charset="utf-8">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <img src="{% static "disappninja_app/images/donatello.jpg" %}" alt="My image"/>
    <img src="{% static "disappninja_app/images/leonardo.jpg" %}" alt="My image"/>
    <img src="{% static "disappninja_app/images/michelangelo.jpg" %}" alt="My image"/>
    <img src="{% static "disappninja_app/images/raphael.jpg" %}" alt="My image"/>
  </body>
</html>
